
.wrapper {
    margin: auto;
    max-width: 800px;
    background-color: beige;
    padding: 20px;
     

    }
header {
    background-color:burlywood;
    padding-left: 3px; 
    
    
    }
.container { 
    margin: 0 auto;  
    padding: 10px;

    }

 div img { 
        width: 100%;
        max-width: 150px; 
        height: auto;
        float: left;
        padding: 10px;
        
      }
dt {
     font-size: 1.5rem;
     font-weight: bold;
      }
dd {
     margin: auto; 
     padding: 1px;
     font-size: 1rem;
       }
dl {
     background-color: burlywood;
    padding-left: 3px;
    }