
.wrapper {
    max-width: 800px;
    background-color: beige;
margin: auto;
    padding: 20px;
}
header {
    background-color:burlywood;
    padding-left: 3px;
    
}
.container { 
    width: auto;
    margin: 0 auto; 
    padding-left: 3px;
    }

    div img { 
        max-width: 150px; 
        height: auto;
        
        float: left;
        padding: 10px;
    }
    dt {
        font-size: 1.5rem;
        font-weight: bold;
    }
    dd {
        margin: auto;
        padding: 1px;
        font-size: 1rem;
    }
    dl {
        background-color: burlywood;
        padding-left: 3px;
    }